USE [master]
GO
/****** Object:  Database [IndustryConnectWeek2]    Script Date: 29/09/2024 20:40:26 ******/
CREATE DATABASE [IndustryConnectWeek2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IndustryConnectWeek2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\IndustryConnectWeek2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IndustryConnectWeek2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\IndustryConnectWeek2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IndustryConnectWeek2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IndustryConnectWeek2]
GO
/****** Object:  UserDefinedFunction [dbo].[CalculateAge]    Script Date: 29/09/2024 20:40:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE FUNCTION [dbo].[CalculateAge] (@DateOfBirth datetime)
RETURNS int
AS BEGIN

RETURN
     CONVERT(int,ROUND(DATEDIFF(hour,@DateOfBirth,GETDATE())/8766.0,0))
    
END
GO
/****** Object:  UserDefinedFunction [dbo].[GetCustomerAmount]    Script Date: 29/09/2024 20:40:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[GetCustomerAmount] (@CustomerId int)
returns money
as
begin
--declare @amount money;

return (select sum(price) from CustomerSales where [Customer Id] = @CustomerId);

--return @amount
end
GO
/****** Object:  Table [dbo].[Product]    Script Date: 29/09/2024 20:40:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Description] [nvarchar](max) NULL,
	[Active] [bit] NULL,
	[Price] [money] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale]    Script Date: 29/09/2024 20:40:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NULL,
	[ProductId] [int] NULL,
	[DateSold] [datetime] NULL,
	[StoreId] [int] NULL,
 CONSTRAINT [PK_Sale] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 29/09/2024 20:40:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](30) NULL,
	[Address] [varchar](100) NULL,
 CONSTRAINT [PK_Customer_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[CustomerSales]    Script Date: 29/09/2024 20:40:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[CustomerSales]
as
select c.Id as 'Customer Id', c.FirstName, c.LastName, s.DateSold, p.[Name], p.Price
, [dbo].[GetCustomerAmount](c.Id) as 'Total Purchases',CONCAT(c.FirstName, ' ', c.LastName) as 'Full Name'
	from Customer c
		left join 
			Sale s on 
				c.Id = s.CustomerId
					left join 
						Product p on
							s.ProductId = p.Id 

GO
/****** Object:  Table [dbo].[Customer1]    Script Date: 29/09/2024 20:40:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer1](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NULL,
	[Address] [nvarchar](40) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Store]    Script Date: 29/09/2024 20:40:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Store](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Address] [nvarchar](250) NULL,
 CONSTRAINT [PK_Store] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([Id], [Name], [Address]) VALUES (2, N'Piyu', N'Dublin')
INSERT [dbo].[Customer] ([Id], [Name], [Address]) VALUES (3, N'Sumit', N'Sangli')
INSERT [dbo].[Customer] ([Id], [Name], [Address]) VALUES (4, N'Santosh', N'Ireland')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer1] ON 

INSERT [dbo].[Customer1] ([Id], [Name], [Address]) VALUES (1, N'Andy', N'Mckelvey')
INSERT [dbo].[Customer1] ([Id], [Name], [Address]) VALUES (2, N'Callum', N'Jones')
INSERT [dbo].[Customer1] ([Id], [Name], [Address]) VALUES (3, N'Abigail', N'Smith')
SET IDENTITY_INSERT [dbo].[Customer1] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [Name], [Description], [Active], [Price]) VALUES (1, N'Washing Machine', NULL, NULL, 200.0000)
INSERT [dbo].[Product] ([Id], [Name], [Description], [Active], [Price]) VALUES (2, N'Television', N'Television', 1, 450.0000)
INSERT [dbo].[Product] ([Id], [Name], [Description], [Active], [Price]) VALUES (3, N'Toaster', NULL, NULL, 45.5900)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Sale] ON 

INSERT [dbo].[Sale] ([Id], [CustomerId], [ProductId], [DateSold], [StoreId]) VALUES (1, 2, 2, CAST(N'2024-06-03T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Sale] ([Id], [CustomerId], [ProductId], [DateSold], [StoreId]) VALUES (2, 2, 1, CAST(N'2024-06-03T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Sale] ([Id], [CustomerId], [ProductId], [DateSold], [StoreId]) VALUES (4, 4, 2, CAST(N'2024-06-03T00:00:00.000' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[Sale] OFF
GO
SET IDENTITY_INSERT [dbo].[Store] ON 

INSERT [dbo].[Store] ([Id], [Name], [Address]) VALUES (1, N'Store', N'Mumbai')
INSERT [dbo].[Store] ([Id], [Name], [Address]) VALUES (3, N'Store 2', N'Aus')
SET IDENTITY_INSERT [dbo].[Store] OFF
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD FOREIGN KEY([StoreId])
REFERENCES [dbo].[Store] ([Id])
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_Sale_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer1] ([Id])
GO
ALTER TABLE [dbo].[Sale] CHECK CONSTRAINT [FK_Sale_Customer]
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_Sale_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[Sale] CHECK CONSTRAINT [FK_Sale_Product]
GO
/****** Object:  StoredProcedure [dbo].[InsertProduct]    Script Date: 29/09/2024 20:40:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[InsertProduct] @Name nvarchar(100), @Price money
as
begin
insert into [dbo].[Product]([Name], Price, Active)
values
(@Name,@Price,1)

end
GO
USE [master]
GO
